#blocc {
    color: rgba(0,40,90,1);
    /*opacity: 0.6;*/
    margin-left: 20px;
    float: left;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

ul {
    list-style-type: square;
}

h3 {
    background: rgba(255,255,255,0.9);
    width: 150px;
    padding: 10px;
    border: 2px solid rgba(0,40,90,1);
    text-align: center;
}

    /*background-color: rgba(225, 195, 158, 1);*/

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgba(225, 195, 158, 1);
    text-decoration: none;
}

html {
    background: url("wave.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    margin: 0;
    padding: 0;
}

#tv {
  position: relative;
  background: rgba(255,255,255,0.9);
  color: rgba(0,40,90,1);
  box-shadow: 5px 5px rgba(0,0,0,.25);
  transition: all .4s ease;
  padding: 10px 10px 10px 50px;
}
#tv:hover {

  box-shadow: 10px 10px rgba(0,0,0,0.15);
}

* {
    font-family: "Courier New", sans-serif;
}





#search {
    position: fixed; /*auto;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .92);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    top: -100%;
    transition: all .5s ease-in-out;
}

#search.active {
    top: 0;
    opacity: 1;
    visibility: visible;
}

#search div {
    position: relative;
    width: 80%;
}

#search input {
    border: 0;
    outline: 0;
    width: 100%;
    box-shadow: inset 0 -2px rgba(0,40,90,1);
    padding: .5em 0;
    background: none;
    font-size: 22px;
    /*font: 500 22px 'Roboto', sans-serif;*/
    letter-spacing: 1px;
    color: rgba(0,40,90,1);
}

#search input:focus {
    box-shadow: inset 0 -2px rgba(0,40,90,1);
}

#search input::selection {
    background: rgba(0,40,90,1);
    color: rgba(0,40,90,1);
}

#search .close {
    background: 0;
    border: 0;
    outline: 0;
    color: rgba(0,40,90,1);
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 15px;
}

#search .close:hover {
    filter: opacity(.5);
}

.search-engines {
    list-style: none;
    color: #7d7d7d;
    display: block;
    display: flex;
    top: 50px;
    left: 0;
    margin: 1em 0 0 0;
}

.search-engines li p {
    cursor: default;
    transition: all .2s;
    font-size: 14px;
    /*font-family: 'Roboto', sans-serif;*/
}

.search-engines li {
    margin: 0 1em 0 0;
}

.search-engines li.active {
    color: rgba(0,40,90,1);
    font-weight: 700;
}
